<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-800 md:text-5xl lg:text-6xl">BIBLIOTECA</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 sm:px-16 lg:text-xl lg:px-48">Permite gestionar Autores, Categorías, Clientes, Libros, y Préstamos.</p>
    </div>
</section>
