<section class="bg-white dark:bg-gray-900">
    <div class="px-4 py-8 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-gray-900 text-4xl font-extrabold leading-none tracking-tight dark:text-white md:text-5xl lg:text-6xl">We invest in the world’s potential</h1>
        <p class="mb-8 text-gray-500 text-lg font-normal dark:text-gray-400 sm:px-16 lg:text-xl lg:px-48">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        <div class="space-y-4 flex flex-col sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#" class="bg-blue-700 px-5 py-3 text-white inline-flex items-center justify-center rounded-lg text-center text-base font-medium hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Get started
                <svg class="ms-2 h-3.5 w-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            <a href="#" class="border-gray-200 bg-white px-5 py-3 text-gray-900 rounded-lg border text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:z-10 focus:ring-4 focus:ring-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 sm:ms-4 dark:focus:ring-gray-700 dark:hover:text-white dark:hover:bg-gray-100">
                Learn more
            </a>
        </div>
    </div>
</section>
