<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-8xl">404</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 sm:px-16 lg:text-xl lg:px-48">La página solicitada no existe</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a onclick="history.back()" class="bbtc-btn bbtc-btn-info cursor-pointer">
                <icon href="arrow-left-icon" class="size-6"></icon> @Localizer["VolverButton"]
            </a>
        </div>
    </div>
</section>
