<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-8xl">404</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 sm:px-16 lg:text-xl lg:px-48">La página solicitada no existe</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a onclick="history.back()" class="inline-flex cursor-pointer items-center justify-center rounded-lg bg-blue-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Volver

            </a>
        </div>
    </div>
</section>
